body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

h1{
 margin-bottom: 20px;
}

button{
    padding: 8px 12px;
    cursor: pointer;   
}

ul{
    margin-top: 20px;
}

li{
    margin-bottom: 10px;
}